<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" type="text/css" href="/Users/estevaofay/Desktop/Batata/views/css/login.css">
</head>
<body>

	<div class="container">
        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="http://seeklogo.com/images/F/facamp-logo-D815281BDA-seeklogo.com.gif"/>

            <p id="profile-name" class="profile-name-card"></p>

            <!-- FORM -->
            <form class="form-signin">
                <span id="auth-login" class="auth-login"></span>
                <input type="username" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
                <hr>
                <button class="btn btn-lg btn-success btn-block btn-signin"  href="home.html" type="submit">Cadastrar</button>
            </form>
            <!-- /form -->

            <a href="home.html" class="forgot-password">
                Esqueceu sua senha?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->



</body>
</html>
